<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <mat-toolbar color="primary" style="background:#10384F;min-height:0px">
    <mat-toolbar-row>
      <span style="color:white;min-height:0px;">BAYER LIFE2.0</span>
      <span class="example-spacer"></span>

      <button mat-icon-button color="warn" (click)=bgmplay()>
        <mat-icon>music_note</mat-icon>
      </button>

      <a routerLink=""
         routerLinkActive="active"
         style="color:#00BCFF">EN
      </a>


    </mat-toolbar-row>
  </mat-toolbar>

<div style="width:100%;height:50px;background:#10384F">
    <router-outlet
      style="min-height:0px;
      overflow:hidden;
      color:black'
      padding-top: 0px">
    </router-outlet>
</div>
